<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TEST FUNCTIONS</title>
	<script src="../my_scripts.js" async="" defer=""></script>
	<script src="./test_valid_request.js" async="" defer=""></script>
	<script src="./test_invalid_request.js" async="" defer=""></script>
	<script src="./test_valid_data_for_functions.js" async="" defer=""></script>
	<script src="./test_invalid_data_for_functions.js" async="" defer=""></script>
</head>
<body>
	<h2 id="status"></h2>
</body>
</html>